<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <p class="flash"><%= flash.notice %></p>

  <body>
    <div id="container">
      <div id="content">
        <%= yield %>
        <hr id="footer_line">
        <h5 id="footer">
          <% if logged_in? %>
            <%= "Logged in as: #{current_user.email}" %>
            <%= link_to "logout", logout_path, :id => 'login' %>
          <% else %>
            Logged out
            <%= link_to "login", login_path, :id => 'logout' %>
          <% end %>
        </h6>
      </div>
    </div>
  </body>

</html>
