<h1 id="main_article_title"><%= @article.title %></h1>
<div id="main_article_time"><%= @article.created_at.strftime("%A %d %b %Y at %I:%M %p") %></div>
<p id="main_article_body"><%= @article.body %></p>
<div id="update_article">
  <%= link_to 'Edit Article', edit_article_path(@article), id: "edit_article" %>
  <%= link_to 'Delete Article', article_path(@article), method: :delete, data: {confirm: "Are you sure you want to delete the article?"},id: "delete_article" %>
</div>

<h3 class="subtitle">Comments <span id="comment_numer"><%= @article.comments.size %></span></h3>
<%= render partial: 'articles/comment', collection: @article.comments %>

<%= render partial: 'comments/form' %>

<%= link_to 'Articles Index', articles_path, id: "return_to_articles" %>
