<%= form_for(author) do |f| %>
  <% if author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username, :id => 'author_username_title' %>
    <%= f.text_field :username, :autocomplete => 'off' %>
  </div>

  <div class="field">
    <%= f.label :email, :id => 'author_email_title' %>
    <%= f.text_field :email, :autocomplete => 'off' %>
  </div>

  <div class="field">
    <%= f.label :password, :id => 'author_password_title' %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, :id => 'author_password_confirmation_title' %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit 'Create Author',  :class => 'create_author_button' %>
  </div>
<% end %>
