<h1 id="title">Authors</h1>

<table class = "author_table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td id="author_name"><%= author.username %></td>
        <td id="author_email_address"><%= author.email %></td>
        <td id="author_show"><%= link_to 'Show', author %></td>
        <td id="author_edit"><%= link_to 'Edit', edit_author_path(author) %></td>
        <td id="author_destroy"><%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Author', new_author_path, :class =>'new_author_button' %>
<%= link_to 'Articles Index', articles_path, :id => "return_to_articles" %>
